<!-- elimination.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Elimination</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/elimination.css') }}">
</head>
<body>
    <h1>Image Elimination</h1>
    <div>
        <!-- Display the bottom 10% of scores in ascending order -->
        {% for image in bottom_10_percent %}
            <div>
                <img src="{{ url_for('static', filename=image_path + '/' + image) }}">
                <button onclick="keepImage()">Keep</button>
                <button onclick="deleteImage('image')">Delete</button>
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/elimination.js') }}"></script>
</body>
</html>
