<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Welcome to the PNG Voting System</h1>
    <h3>Please select your role:</h3>

    <button id="voter-button">Voter</button>
    <button id="viewer-button">Viewer</button>

    <div class="radio-section">
        <h3>Pick a File:</h3>
        <div class="radio-container">
            {% for folder in folder_options %}
                <div class="radio-item">
                    <input type="radio" id="{{ folder }}" name="folderRadio" value="{{ folder }}" onchange="changeFolder(this.value)">
                    <label for="{{ folder }}">{{ folder }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
