<!--viewer.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewer.css') }}">
</head>
<body>
    <div id="viewer-container">
        <h2 id="score">Score: {{ score }}</h2>
        <img id="current_image" src="{{ url_for('static', filename=image_path + '/' + current_image) }}">
    </div>

    <div id="navigation">
        <button id="previous-button" onclick="previousImage()">Previous</button>
        <button id="next-button" onclick="nextImage()">Next</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
</body>
</html>
